/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&disply=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans',sans-serif;
}
/* header styles */

nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    display: flex;
    font-size: 35px;
    gap: 10px;
    color: #131318;

}
.travel{
    color: #ff5400;
}
.header-img{
    width: 50px;
    height: 40px;
    padding: 50px 0px;
}
nav ul{
    display: flex;
    /* text-decoration: none; */
    padding: 40px 5px;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424247;
    font-size: 20px;
}
