/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&disply=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans',sans-serif;
}
/* header styles */

nav{
    display: flex;
    justify-content: space-between;
    margin: 5px 60px;
}
.nav-title{
    display: flex;
    font-size: 35px;
    gap: 10px;
    color: #131318;
    position: relative;
    top: 0px

}
.travel{
    color: #ff5400;
}
.header-img{
    width: 50px;
    height: 40px;
    padding: 50px 0px;
}
nav ul{
    display: flex;
    /* text-decoration: none; */
    padding: 40px 5px;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424247;
    font-size: 20px;
}

.explore-section{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    margin: 5px 70px;
    /* position: relative; */
    /* bottom: 50px; */
}
.explore-content{
    padding: 100px 50px;
    justify-content: center;
}
.explore-content h2{
    font-size: 45px;
    color: #ffffff;
}
.explore-content p{
    color: #ffffff;
    font-size: 15px;
    padding: 0px 200px;
}
.explore-content button{
    padding: 10px 35px;
    border: none;
    background-color: #ffffff;
    color: #131318;
    border-radius: 2px;
}
.explore-content .btn-primary{
    background-color: #ff5400;
    color: white;
}

.button-content{
    background-color: #ffffff59;
    padding: 10px 50px;
    margin-left: 200px;
    margin-right: 200px;
    
}
.section-content{
    position: relative;
    
}

/* main section style */
.popular-container{
    display: flex;
    margin-top: 70px;
    gap: 50px;
    padding: 20px 70px;
}

.popular-container h3{
    color: #131318;
}
.popular-container p{
    color: #424247;
    font-size: 15px;
}
.popular-container ul{
    color: #424247;
    font-size: 15px;
}
.tempus{
    color: #131318;
}
.read-btn{
    background-color: #ff5400;
    border: none;
    padding: 8px 15px;
    color: #ffffff;
    border-radius: 7px;
}
.main-image{
    width: 400px;
    height: 400px;
}
.main-title{
    font-size: 40px;
    margin-top: 5px;
}

.choose-content{
    text-align: center;

}
.choose-content h2{
    font-size: 35px;
    color: #131318;
}
.choose-content p{
    font-size: 15px;
    color: #424247;
}

/* images styles start */

.images-collage{
    /* margin: 10px 70px; */
    padding: 20px 70px;

}
.square-collage{
    gap: 100px;
}
.choose-us{
    text-align: center;
}
.choose-us p{
    font-size: 15px;
    color: #424247;
}
.choose-us h3{
    font-size: 30px;
    color: #131318;
}

.division-collage{
    display: flex;
    gap: 40px;
    padding: 50px;
    
}
.home-collage{
    background-color: rgba(255, 192, 203, 0.164);
    padding: 30px 40px;
    border-radius: 10px;
}
.map-collage{
    background-color: rgba(127, 255, 212, 0.103);
    padding: 30px;
    border-radius: 10px;
    
}
.home-collage p{
    font-size: 15px;
    color: #424247;
}
.map-collage p{
    font-size: 15px;
    color: #424247;
}
.persent-collage{
    background-color: rgba(255, 192, 203, 0.288);
    padding: 30px;
    border-radius: 10px;
    /* text-align: center; */
    margin: 0px 350px;
    justify-content: center;
}
.persent-collage p{
    color: #424247;
    font-size: 15px;
}

.Discounts-title{
    text-align: center;
}
.Discounts-title h3{
    font-size: 30px;
    color: #131318;
}
.Discounts-title p{
    font-size: 15px;
    color: #424247;
}

.tour-content{
    /* width: 400px; */
    /* height: 300px; */
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    height: 500px;
    
}

.tour-container{
    width: 400px;
    height: 300px;
    /* justify-content: right; */
    margin: 50px 60px 500px 600px;
    background-color: #ffffffb6;
    padding: 50px 50px 10px 30px;
    border-radius: 10px;
    
}
.tour-container1{
    width: 400px;
    height: 300px;
    /* justify-content: right; */
    margin: 50px 600px 60px 50px;
    background-color: #ffffffb6;
    padding: 50px 50px 10px 30px;
    border-radius: 10px;
}
.tour-container p{
    color: #424247;
    font-size: 13px;
}
.tour-container h5{
    color: #ff5400;
    font-size: 15px;
}
.tour-container1 p{
    color: #424247;
    font-size: 13px;
}
.tour-container1 h5{
    color: #ff5400;
    font-size: 15px;
}

.btn-one{
    text-align: center;
    margin-top: 40px;
    
}
.btn-two{
    padding: 8px 20px;
    color: #ffffff;
    background-color: #ff5400;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.newsletter{
    display: flex;
    gap: 50px;
    /* padding: 50px 30px 5px 20px; */
    margin: 20px 100px 30px 100px;
    /* height: 100%; */
    /* width: 100%; */
}
.newsletter-one{
    height: 270px;
    /* width: 400px; */
    border: 1px solid tomato;
    padding: 70px 30px;
    border-radius: 10px;
}
.newsletter-one p{
    color: #424247;
    font-size: 15px;
}
.border-content{
    border: 1px solid rgba(128, 128, 128, 0.151);

}
.newsletter-two img{
    width: 600px;
    height: 400px;
    
}
.newsletter-one input{
    padding: 10px 150px;
    border-radius: 5px;
    background-color: #4242470e;
    border: none;
    
}
.newsletter-one button{
    padding: 10px 195px;
    background-color: #ff5400;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.travel-time{
    background-color: #ff5400;
    width: 240px;
    text-align: center;
    color: #ffffff;
    position: relative;
    bottom: 150px;
    padding: 5px 10px;
    left: 300px;
    border-radius: 10px;


}
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
    .explore-section{
        height: 500px;
        width: 1000px;
    }
    .button-content{
        flex-direction: column;
        
    }
    .popular-container{
        flex-direction: column;
    }
    
}